<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @dictionary.word %>
</p>

<p>
  <strong>Partofspeech:</strong>
  <%= @dictionary.partOfSpeech %>
</p>

<p>
  <strong>Definition:</strong>
  <%= @dictionary.definition %>
</p>

<p>
  <strong>Wordusage:</strong>
  <%= @dictionary.wordUsage %>
</p>

<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', dictionaries_path %>
