<p id="notice"><%= notice %></p>

<h1>Correctness</h1>

<p>
  <strong>Dictionary:</strong>
  <%= @correctness.dictionary %>
</p>

<p>
  <strong>User:</strong>
  <%= @correctness.user %>
</p>

<p>
  <strong>Total Tried Count:</strong>
  <%= @correctness.totalTryCount %>
</p>

<p>
  <strong>Right Count:</strong>
  <%= @correctness.rightCount %>
</p>

<%= link_to 'Edit', edit_correctness_path(@correctness) %> |
<%= link_to 'Back', correctnesses_path %>
